$color-background: #f6fafb;
$color-default-text: #273240;
$color-preto-12: #e0e0e0;
$color-preto-60: #666;
$color-cyano: #02aeef;
$color-green: hsla(160, 100%, 37%, 1);
$color-green-hover:  hsla(160, 100%, 37%, 0.2);
$color-white: #fff;
