@forward "variables";

#app {
  width: 100%;
  height: 100vh;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: var(--color-green);
  transition: 0.4s;
  padding: 3px;
}


@media (hover: hover) {
  a:hover {
    background-color: var(--color-green-hover);
    opacity: 0.8;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

